<h1>Edit image</h1>

<%= form_for @image do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  <%= f.file_field :profile_picture %>
  <%= f.submit  %>
<% end %>
<p><%= link_to "Delete", image_path(@image),
  :data => {:confirm => "You sure?",
  :method => "delete"} %></p>
